<% if flash[:translation_success] %>
    <div class="notice"><%= flash[:translation_success] %></div>
<% end %>
<% if flash[:translation_error] %>
    <div class="field_with_errors"><%= flash[:translation_error] %></div>
<% end %>

<%- model_class = Translation -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>