<%- model_class = Translation -%>

<h2>Translations with access difficulties</h2>
<%= render "translations/translation_header" %>
<%= render @translations %>
<%= render "translations/translation_footer" %>
