<% if f.errors.any? %>
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h2><%= pluralize(f.errors.count, "error") %> prohibited
    this song from being saved:</h2>
  <ul>
  <% f.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

