<h2>Tango Translation Database</h2>

<p>
	This repository links translation efforts in the Argentine Tango community
</p>

<p>
	If confused, please check out the <%= link_to "Usage", usage_path %> tab on the top right!
</p>

<p>
<b>Feedback</b> and <b>admin rights</b> requests: <a href="https://www.facebook.com/DjAlejandroSasha">contact me</a>
</p>

<p class="spacer"><p>

<div class="text-center">
	<%= link_to raw('<i class="glyphicon glyphicon-book"></i> ') + t('.songs', :default => t("helpers.links.enter_database")),
songs_path, :class => 'btn btn-primary btn-lg' %>
</div>
