<h2>Stats</h2>

<h4>
	<%= Song.count.nil? ? 0 : Song.count %> songs
</h4>
<h4>
	<%= Translation.count.nil? ? 0 : Translation.count %> translations
</h4>
<h4>
	last Song: <%= Song.unscoped.last.nil? ? "N/A" : link_to(Song.unscoped.last.title, Song.unscoped.last) %>
</h5>
<h4>
	last Translation: <%= Translation.last.nil? ? "N/A" : link_to(Translation.last.song.title, Translation.last.song) %>
</h5>